In [ ]:
import sys
sys.path.append('../src/lib/')   # aggiunge la cartella src al path
from utils import *         # importa tutto da utils

df = pd.read_csv("../data/raw/dataset.csv")

In [3]:
# 0. Overview
check_df_info(df)

=== Shape (righe, colonne) ===
(523, 11)

=== Nomi colonne ===
['Date', 'Interest_Income', 'Interest_Expense', 'Average_Earning_Assets', 'Net_Income', 'Total_Assets', 'Shareholder_Equity', 'Operating_Expenses', 'Operating_Income', 'Market_Share', 'Stock_Price']

=== Tipi di dato ===
Date                       object
Interest_Income           float64
Interest_Expense            int64
Average_Earning_Assets      int64
Net_Income                float64
Total_Assets                int64
Shareholder_Equity          int64
Operating_Expenses          int64
Operating_Income            int64
Market_Share                int64
Stock_Price                 int64
dtype: object

=== Info DataFrame ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    523 non-null    object
 1   Interest_Income         471 non-null    float64
 2   Interest_Expense        523 non-null    int64
 3   Average_Earning_Assets  523 non-null    int64
 4   Net_Income              471 non-null    float64
 5   Total_Assets            523 non-null    int64
 6   Shareholder_Equity      523 non-null    int64
 7   Operating_Expenses      523 non-null    int64
 8   Operating_Income        523 non-null    int64
 9   Market_Share            523 non-null    int64
 10  Stock_Price             523 non-null    int64
dtypes: float64(2), int64(8), object(1)
memory usage: 45.1+ KB

=== Statistiche descrittive (numeriche) ===
                        count          mean           std         min  \
Interest_Income         471.0  2.493118e+06  2.927563e+05   2002869.0
Interest_Expense        523.0  8.017749e+05  3.519118e+05    501015.0
Average_Earning_Assets  523.0  5.514196e+07  2.921747e+06  50064323.0
Net_Income              471.0  1.588192e+06  4.808029e+05   1007906.0
Total_Assets            523.0  8.981890e+07  5.615666e+06  80100734.0
Shareholder_Equity      523.0  2.480689e+07  2.867721e+06  20019675.0
Operating_Expenses      523.0  1.095484e+06  2.277105e+05    706530.0
Operating_Income        523.0  4.003112e+06  5.794374e+05   3000159.0
Market_Share            523.0  1.950096e+01  5.734341e+00        10.0
Stock_Price             523.0  1.258948e+02  4.193585e+01        50.0

                               25%         50%         75%         max
Interest_Income          2236190.0   2477095.0   2743213.0   2999890.0
Interest_Expense          614208.5    726156.0    872570.5   2967591.0
Average_Earning_Assets  52606028.0  55238331.0  57715991.0  59993726.0
Net_Income               1261573.5   1558030.0   1793555.5   3999402.0
Total_Assets            84755722.5  89734816.0  94674812.0  99951324.0
Shareholder_Equity      22286423.0  24464344.0  27279528.0  29992154.0
Operating_Expenses        895324.5   1107592.0   1284193.5   1497622.0
Operating_Income         3528300.0   3979947.0   4523654.0   4999284.0
Market_Share                  14.0        20.0        25.0        29.0
Stock_Price                   92.5       123.0       162.0       199.0

=== Prime 5 righe ===
         Date  Interest_Income  Interest_Expense  Average_Earning_Assets  \
0  2022-01-03        2121958.0            773237                55001045
1  2022-01-04        2671155.0            518070                54463418
2  2022-01-05        2131932.0            797921                59771802
3  2022-01-06        2365838.0            556958                54345760
4  2022-01-07        2259178.0           1746222                57153768

   Net_Income  Total_Assets  Shareholder_Equity  Operating_Expenses  \
0   1572212.0      95404302            23496605              811672
1   1336326.0      86440010            24948600             1030817
2   1224137.0      88674163            26416438             1345961
3   1452268.0      97221407            29694095             1289921
4   3858336.0      98279553            25311499             1432303

   Operating_Income  Market_Share  Stock_Price
0           3494178            24          128
1           3231496            20           63
2           3692148            22          196
3           4779685            14          177
4           4764985            10          103

=== Ultime 5 righe ===
           Date  Interest_Income  Interest_Expense  Average_Earning_Assets  \
518  2023-03-03        2513153.0            551934                55397662
519  2022-08-23              NaN            866329                50421240
520  2022-05-04        2106530.0            736175                51910705
521  2023-01-18        2879989.0            561476                52562469
522  2023-03-23        2811774.0            737027                58204298

     Net_Income  Total_Assets  Shareholder_Equity  Operating_Expenses  \
518   1554736.0      96040922            21265898             1068252
519         NaN      82229180            21551330              921373
520   1331770.0      98827165            29454531              973260
521   1810694.0      83138744            25418952             1141416
522   1793719.0      82627144            22164412             1160244

     Operating_Income  Market_Share  Stock_Price
518           4022145            18          169
519           3842210            23           53
520           3833525            20          123
521           4241968            26          142
522           4478768            14          106

In [4]:
# 1. Gestione Nomi Colonne
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [ ]:
# 2. Gestione Valori Mancanti

# Rimuovo righe e colonne completamente vuote
df = df.dropna(how='all')
df = df.dropna(axis=1, how='all')


# Gestione NaN, e "celle" vuote 
numeric_cols = df.select_dtypes(include='number').columns  # Numeriche

for col in numeric_cols:
    df[col] =  df[col].interpolate().fillna(0)

df['date'] = pd.to_datetime(df['date'], errors='coerce')
df = df.dropna(subset=['date'])  # elimina righe senza data valida

df['date'] =  df['date'].fillna('N/A')

In [ ]:
# 3. Controllo Tipi Dato

df['date'] = pd.to_datetime(df['date'])

for num in numeric_cols:
    df[num] = pd.to_numeric(df[num], errors='coerce')

In [ ]:
# 4. Gestione Duplicati
df = df.drop_duplicates()

In [ ]:
# 5. Ordinamento temporale 
df = df.sort_values('date').reset_index(drop=True)

In [ ]:
# dataset_clean.csv
df.to_csv('../data/processed/dataset_clean.csv', index=False)